:root {
  --branding-color: #966cb8;
  --secondary-color: white;
  --third-color: #c99bc9;
  --head-font: "Montserrat Alternates", sans-serif;
  --secondary-font: "Parkinsans", sans-serif;
}

h1 {
  font-family: var(--head-font);
}
p {
  font-family: var(--secondary-font);
  font-size: 16px;
  color: var(--third-color);
  font-weight: 500;
  line-height: 30px;
}

h2 {
  font-size: 28px;
  color: var(--branding-color);
  font-weight: 400;
}
h3 {
  font-size: 48px;
  color: var(--branding-color);
}
.subtitle {
  font-family: var(--head-font);
}
.subtitle-1 {
  font-size: 30px;
  font-weight: 300;
  color: var(--third-color);
}
.hero {
  background-color: #ede6fc;
  text-align: center;
  padding: 30px 10px;
}
.hero p {
  font-size: 36px;
  margin: 0;
  color: var(--third-color);
  font-weight: 300;
}
.hero h1 {
  font-size: 60px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.5;
  color: var(--branding-color);
}
.hero h2 {
  font-size: 38px;
  line-height: 2;
  font-weight: 500;
  color: var(--third-color);
}

.btn-branding {
  background-color: var(--branding-color);
  font-size: 15px;
  color: var(--secondary-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  margin-bottom: 15px;
  line-height: 1.5;
  padding: 10px 15px;
  cursor: pointer;
}
.btn-branding:hover {
  background-color: var(--secondary-color);
  color: var(--branding-color);
}
.img-fluid {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.container {
  text-align: center;
}
.container img {
  width: 400px;
}
.btn-branding-outline {
  font-size: 13px;
  font-weight: 500;
  color: var(--branding-color);
  border: 2px solid var(--branding-color);
  border-radius: 4px;
  line-height: 1.5;
  padding: 10px 15px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.btn-branding-outline:hover {
  background-color: var(--branding-color);
  color: var(--third-color);
}

.content-container {
  text-align: center;
  padding: 60px 20px;
}
.content-container h1 {
  font-size: 50px;
  color: var(--third-color);
  font-weight: 700;
  line-height: 1.5;
}
.content-container h2 {
  font-size: 40px;
  color: var(--branding-color);
  font-weight: 500;
  line-height: 1.5;
}
.greeting {
  font-size: 22px;
  color: var(--branding-color);
  font-weight: 400;
}
.about-me {
  color: var(--third-color);
  font-family: var(--secondary-font);
  font-weight: 500;
  line-height: 1.5;
}
.content-container img {
  width: 350px;
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.content-container .project {
  transition: all 250ms ease-in-out;
}
.content-container .project:hover {
  transform: scale(1.5);
}

.design {
  border: 2px solid var(--third-color);
  border-radius: 4px;
  padding: 20px;
  max-width: 600px;
  margin: 30px auto;
  text-align: center;
}
.design a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.name {
  color: black;
}
.git-link {
  text-decoration: none;
  color: black;
}
.git-link:hover {
  color: var(--branding-color);
}
.logo {
  max-height: 40px;
}

nav {
  padding: 20px 0;
}
nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}
nav a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  transition: all 100ms ease-in-out;
}
nav a:hover,
nav li.active a {
  color: var(--third-color);
}
.content-container .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

footer .social-links a {
  margin: 10px;
  color: var(--branding-color);
  background-color: #ede6fc;
  font-size: 18px;
  padding: 10px 14px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
  color: var(--secondary-color);
  background-color: var(--branding-color);
}
@media (max-width: 900px) {
  h2 {
    font-size: 20px;
    font-weight: 400;
  }
  h4 {
    font-size: 18px;
  }
  p {
    margin: 10px 20px;
    line-height: 1.25;
    font-size: 12px;
  }
  nav a {
    font-size: 14px;
  }
  footer .contact-box {
    padding: 30px;
  }
  footer .email-link {
    font-size: 16px;
  }
  .hero {
    padding: 5px;
  }
  .hero h1 {
    font-size: 25px;
    font-weight: 500;
    font-style: normal;
    line-height: 1.5;
    margin: 0;
  }
  .hero h2 {
    font-size: 16px;
  }
  .btn-branding {
    font-size: 10px;
    padding: 8px 10px;
  }
  .btn-branding-outline {
    font-size: 10px;
    padding: 12px 16px;
  }
  .subtitle-1 {
    font-size: 18px;
    margin: 15px;
  }
  .container {
    text-align: center;
  }
  .container img {
    box-shadow: none;
  }
  .content-container img {
    margin: 10px;
    padding: 20px;
    box-shadow: none;
  }
  .content-container h1 {
    font-size: 25px;
    font-weight: 700;
    line-height: 1.5;
  }
  .content-container h2 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
  }

  .about-me {
    font-size: 13px;
    line-height: 1.3;
  }
  .container hero-2 {
    padding: 0 auto;
    text-align: center;
  }
  .about-image {
    margin-top: 10px;
    width: 150px;
  }
  .content-container img {
    width: 325px;
  }
  .content-container .project {
    transition: none;
    margin-top: 0px;
  }
  .content-container .project:hover {
    transform: none;
  }
  .email-link {
    margin-top: 20px;
  }
  .content-container .email-link {
    font-size: 16px;
  }
}
