:root {
  --branding-color: #966cb8;
  --secondary-color: white;
  --third-color: #c99bc9;
  --head-font: "Montserrat Alternates", sans-serif;
  --secondary-font: "Parkinsans", sans-serif;
}

h1 {
  font-family: var(--head-font);
}
p {
  font-family: var(--secondary-font);
  font-size: 16px;
  color: var(--third-color);
  font-weight: 500;
  line-height: 30px;
}

h2 {
  font-size: 50px;
  color: var(--branding-color);
  font-weight: 400;
}
.subtitle {
  font-family: var(--head-font);
}
.subtitle-1 {
  font-size: 30px;
  font-weight: 400;
  color: var(--third-color);
}
.hero {
  background-color: #ede6fc;
  text-align: center;
  padding: 130px 20px;
}
.hero p {
  font-size: 36px;
  margin: 0;
  color: var(--third-color);
  font-weight: 300;
}
.hero h1 {
  font-size: 80px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.5;
  color: var(--branding-color);
}
.hero h2 {
  font-size: 24px;
  line-height: 2;
  font-weight: 500;
  color: var(--third-color);
}

.btn-branding {
  background-color: var(--branding-color);
  font-size: 18px;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  margin-bottom: 15px;
  line-height: 1.5;
  padding: 13px 20px;
  cursor: pointer;
}
.btn-branding:hover {
  background-color: var(--secondary-color);
  color: var(--branding-color);
}
.img-fluid {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.btn-branding-outline {
  font-size: 14px;
  font-weight: 500;
  color: var(--branding-color);
  border: 2px solid var(--branding-color);
  border-radius: 4px;
  line-height: 1.5;
  padding: 13px 20px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.btn-branding-outline:hover {
  background-color: var(--branding-color);
  color: var(--third-color);
}
@media (max-width: 900px) {
  .hero h1 {
    font-size: 45px;
    font-weight: 500;
    font-style: normal;
    line-height: 1.5;
    color: var(--branding-color);
    margin: 0;
  }
  .container {
    padding: 0;
    text-align: center;
  }
  h2 {
    font-size: 25px;
    color: var(--branding-color);
    font-weight: 400;
  }
  p {
    margin: 10px 20px;
    line-height: 1.25;
  }
  .img-fluid {
    margin: 10px;
    padding: 20px;
  }
}
